<!DOCTYPE html>
<html class="loginHtml" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style"  />
<meta content="telephone=no" name="format-detection" />
<link rel="stylesheet" type="text/css" th:href="@{/css/base.css}" media="all"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" media="all"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/page.css}" media="all"/>
<script type="text/javascript" th:src="@{/js/common/jquery-1.6.4.js}"></script>
<script type="text/javascript" th:src="@{/js/common/shop.js}"></script>
<script type="text/javascript" th:src="@{/js/login.js}"></script>
<script type="text/javascript" th:src="@{/js/common/htc_valid.js}"></script>
<title>海淘车iPad销售支持工具</title>
</head>
<body onload="document.f.username.focus();">
<div class="loginBox">
    <h1 class="logo"><a href=""><strong><img th:src="@{/images/login.png}" width="100%" alt="" /></strong></a></h1> 
    <div class="form">
        <p th:if="${param.logout}" class="tc fColorR f18">你已经登录了</p>
        <p th:if="${param.error}" class="tc fColorR f18">输入错误,请从新输入</p>
        <h2 class="title">海淘车iPad销售支持工具</h2>
        <form name="f" th:action="@{/login}" action="/login" method="POST">
	        <ul>
	            <li inputType="phoneNum">
		            <span class="demo-icon">&#xe84d;</span>
		            <input type="text" name="username" id="username" placeHolder="请输入手机号" />
	            </li>
	            <li inputType="yzm">
	            	<span class="demo-icon">&#xe84e;</span>
	            	<input type="text" name="password" id="password" placeHolder="请输入验证码" class="yzmText"/>
	            	<span class="yzmBtn">发送验证码</span>
	            </li>
	            
	            <li class="submit">
	            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
	            <input type="submit" value="登录"/></li>
	        </ul>
        </form>
    </div>
</div>
</body>
</html>